#header {
    display: flex;
   
    align-items: start;
    padding: 20px 50px;
     background-color: #002244; 
    box-shadow: 0px 15px 15px rgb(0,0,0,0.6);
    position: sticky;
}

.logo h4 {
    color: white;
    font-size: 60px;
    font-weight: 700;
}

#navbar {
    height: 45px;
    display: flex;
    align-items:start;
    justify-content: space-between;
    
}

#navbar li {
     padding: 20px 50px;
    list-style: none;
    font-size: 29px;
    font-weight: 300;
    color: white;

}

.searchbtn {
    border-radius: 50px;
    color: grey;
    background-color:white;
    border: solid black;
}

.nav {
    border-radius: 30px;
    width: 600;

}

.contact {
    size: 20px;
    height: 20px;
}

#hero {
    background-image: url("file/g4.png");
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 80px;
} 



.hero-text h1 {
    font-weight: 700;
    font-size: 60px;
    color:white;
}
#hero .hero-button{
    border-radius: 50%;
    height: 50%;
    background-color: white; padding: 25px;}
    
.btn1{
    height: 40px;
    background-color: white;
    color: black;
    
}
.btn1:hover{
background-color: black ;
color: white;
}
.btn2{
    height: 40px;
    background-color: transparent;
color: white;
border: 2px solid white;
cursor: pointer;

}
.btn2:hover{
    background-color: white ;
    color: black;}
#hero h5{
    color: white;
    margin: 20px;
    align-items: center;
}
#hero h5{
    color: white;
    margin: 20px;
    
}
  .icons{
    display: flex;
    justify-content: space-between;
    
  }

  /* #banner{
   background-color: #ffffff;
  height: 400px;
  padding: 350px 10px;
  /* margin-top: 10px; 
margin-bottom: 300px;
background-repeat: no-repeat;
background-position: center;
background-size: cover; }



 .banner1 h3 {
    align-items: center;
    margin: 20px 80px;
  }
  
  .banner1 {
    background-image: url("file/g5.webp");
    width: 300px;
    height: 600px;
    object-fit: center;
    justify-content: center;
  }
  .banner2 h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .banner2 {
    background-image: url("file/m1.jpg");
    width: 300px;
    height: 600px;
    background-image: center;
  }
  .banner3 h3 {
    padding: 20px 80px;
    
  }
  
  .banner3 {
    background-image: url("file/heels.jpg");
    width: 300px;
    height: 600px;
    object-fit: cover;
  }
  .banner button {
    background-color:white;
    color: white;
  
    border: none;
    padding : 20px 80px;}*/

.div1{
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.product-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
padding-top:20px;
background-color: white;

}
#product1{
padding: 40px 80px;
text-align: start;
background-color: aliceblue;
}

#product1 h2{
    text-align: center;
    font-weight: 700;
}

#product1 p{
    text-align: center;
}

.pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 25px;
    border: 1px solid #cce7dc;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);

}
.pro img{
    width: 100%;
    
}

.des{
    padding: 10px 0px;
    margin: 10px 0px;
}

.section4{
    background-color: rgb(81, 131, 205);
    display: flex;
    height: auto;
    background-image: url("file/girl.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 600px;
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
}

.section4 div{
    padding: 70px 10%;
    color: white
}

.section4 div h5{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.section4 div h1{
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin-top: 30px;
}

.section4 div p{
    margin-top: 20px;
    font-weight: 500;
    text-align: start;
}

.section4 div h3{
    margin-top: 30px;
    text-transform: capitalize;
}

.section4 div button{
    margin-top: 30px;
    text-transform: capitalize;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid white;
}

.section4 div button:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}
.Sale{
    margin-left: 50px;
}
.Sale{
    background-color: white;
    color: black;
    font-weight: 400;
    font-size: 50px;
    margin-top: 45px;
    margin-bottom: 45px;
    align-items: center;
}

hr {
  border: none;
  border-top: 1px solid black;
  margin: 0;
}
.footer {
    background-color:white;
     padding: 10px; 
    text-align: start;
    font-display: flex;
    flex-wrap: wrap;
    height: 39vh;

  }
  .logo2 h1{
    font-weight: 800;
  }
  .logo2 h4{
    margin-top: 90px;
  }
  .footer-column {
   flex: 1;
    width: 25%;
    padding: 25px 10px ;
    vertical-align: top;
    text-align: left;
    
    align-items: center;
    margin: 40px;
   
  }
  .footer-column1{
    flex: 1;
    width: 25%;
    padding: 25px 10px ;
    vertical-align: top;
    text-align: left;
   display: flex;
   flex-direction: column;
    align-items: center;
    margin: 40px;
  }
  .footer-column1.subscribe-form{
    display: flex;
    flex-direction: column;

  }
   
  

  .subscribe-button {
    margin-top: 10px;
    background-color: #5199e1;
    border: 1px solid #5199e1;
    color:white;
    height: 50px;
    width: 150px;
    font-size:20px;
    font-weight:400;

  }
  .footer-column1 h2{
    margin: left -150px;
    justify-content:start;
  }
  .copyright {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .footer-logos {
    /* align-items: end; */
    justify-content: end; 
    size: 20px;
    margin-top: 25px;
   /* margin-left: 1300px;
   margin: 25px  1300px; */
  
  

  }

  
 .footer{
 display: flex;
flex-direction: row;
flex: 1; 

  }
.last{
   display: inline-flex;
    size: 20px;
    gap: 900px;
 }
.cart{
color: white;
height: 90px;
display: flex;
width: 30px;
font-weight: 200;
}
